@model MarcoPoloGCWeb.Models.GiftCertificate

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>GiftCertificate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="GctypeId" class="control-label"></label>
                <select asp-for="GctypeId" class="form-control" asp-items="ViewBag.GctypeId"></select>
                <span asp-validation-for="GctypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssuanceDate" class="control-label"></label>
                <input asp-for="IssuanceDate" class="form-control" />
                <span asp-validation-for="IssuanceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtipermitNo" class="control-label"></label>
                <input asp-for="DtipermitNo" class="form-control" />
                <span asp-validation-for="DtipermitNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidityPeriod" class="control-label"></label>
                <input asp-for="ValidityPeriod" class="form-control" />
                <span asp-validation-for="ValidityPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label"></label>
                <input asp-for="ExpirationDate" class="form-control" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifiedBy" class="control-label"></label>
                <input asp-for="LastModifiedBy" class="form-control" />
                <span asp-validation-for="LastModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
